<section class="user">
	<%= profile_image(@user) %>
  <h1><%= @user.name %></h1>
  <h2><%= mail_to(@user.email) %></h2>
	<h5>Member Since</h5>
	<p>
		<%= @user.created_at.strftime("%B %Y") %>
	</p>
</section>